/examples/baselines/configs/
/examples/baselines/data/*.db
/examples/baselines/databases/
/examples/baselines/results/
/examples/monte_carlo/configs/
/examples/monte_carlo/data/*.db
/examples/monte_carlo/databases/
/examples/monte_carlo/results/
/examples/monte_carlo/monte_carlo/
/examples/sensitivity/configs/
/examples/sensitivity/data/*.db
/examples/sensitivity/databases/
/examples/sensitivity/results/
/examples/stochastics/configs/
/examples/stochastics/data/*.db
/examples/stochastics/databases/
/examples/stochastics/results/
/examples/stochastics/sbatch_files/
/projects/uva/configs/
/projects/uva/databases/
/projects/uva/data/*.db
/projects/uva/results/
/projects/virginia/configs/
/projects/virginia/data/*.db
/projects/virginia/databases/
/projects/virginia/results/
/projects/virginia/results_single/
/projects/va_emerging_tech/jbennett_dissertation/configs/
/projects/va_emerging_tech/jbennett_dissertation/data/*.db
/projects/va_emerging_tech/jbennett_dissertation/databases/
/projects/va_emerging_tech/jbennett_dissertation/results/
/projects/va_emerging_tech/jbennett_dissertation/monte_carlo/
/projects/va_emerging_tech/jbennett_dissertation/sensitivity/
/projects/va_emerging_tech/jbennett_dissertation/figures/*.png
*.DS_Store
*.pcy
*.Rhistory
*.RData
/.idea/


